<div class="container">
  <h1>Welcome to Uslex tweet fetcher</h1>
  <form action="/user" method="get">
    <input type="text" name="username">
    <input type="submit" value="Get tweets!">
  </form>

</div>
